extends layout
block content
  include navbar
  <div class="container">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
  <br>
  <a class="btn btn-lg btn-primary btn-block", href='/home'>Go back to all postings</a>
  <h2 style="text-align:center">Add New House</h2>
  <br>
  <div class="row">
  <form role="form" method="POST" action="/addRental">
  <div class="form-group">
  <label>House Name:</label>
  <div class="input-group">
  <input type="text" class="form-control" name="houseName" placeholder="Enter House Name" required>
  <span class="input-group-addon"><span class=""></span></span>
  </div>
  </div>
  <div class="form-group">
  <label>House Address:</label>
  <div class="input-group">
  <input type="text" class="form-control" name="addr" placeholder="Enter House Address" required>
  <span class="input-group-addon"><span class=""></span></span>
  </div>
  </div>
  <div class="form-group">
  <label>House Price:</label>
  <div class="input-group">
  <input type="text" class="form-control" name="price" placeholder="Enter Rent Charges" required>
  <span class="input-group-addon"><span class=""></span></span>
  </div>
  </div>
  <div class="form-group">
  <label>House Max. Renters:</label>
  <div class="input-group">
  <input type="text" class="form-control" name="maxt" placeholder="Enter Maximum Tenants" required>
  <span class="input-group-addon"><span class=""></span></span>
  </div>
  </div>
  <div class="form-group">
  <label>House Description:</label>
  <div class="input-group">
  <textarea name="description" class="form-control" rows="10" required></textarea>
  <span class="input-group-addon"><span class=""></span></span>
  </div>
  </div>
  <br>
  <input name="id",  type='hidden'>
  <input name="house",  type='hidden'>
  <input name="owner", type='hidden'>
  <button class = 'btn btn-lg btn-success btn-block',type='submit', >Save House</button>
  </form>
  </div>
  </div>
  </div>

