.navbar.navbar-default
  .container
    ul(class="nav nav-tabs" role="tablist")
      li(role="presentation" class="active") 
        a(href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab" onClick="toggleDivs([\'statistics\', \'users\', \'housing\'])") Statistics
      li(role="presentation")
        a(href="#users" aria-controls="users" role="tab" data-toggle="tab" onClick="toggleDivs([\'statistics\', \'users\', \'housing\'])") Users
      li(role="presentation")
        a(href="#housing" aria-controls="housing" role="tab" data-toggle="tab" onClick="toggleDivs([\'statistics\', \'users\', \'housing\'])") Housing