extends layout
block content
  include navbar
  <b>Browse all Houses</b>
  if houses 
    
      each house in houses
        .row
        .col-sm-12
          h2=house.name
          h3 description
          p=house.desc
          h3 max renters
          p=house.maxRenters
          each renter in house.currentRenters
            p a(href='/'renter)=renter
          form(method="post" action='/rent')
            input(name="id", value=house._id, type='hidden')
            input(class = 'btn btn-default',type='submit' value='Rent') 
  else



    footer
      p &copy; 2014 Spanish Inquisition