extends layout

block content
  div.container
      div.jumbotron
        if user
          h2 <b>Welcome, #{user.fullName}</b>
          p
            a.small(href="profile") Edit my profile
          a.btn.btn-primary(href="/logout") Logout
        else
          h2 <b>Welcome to SynergySpace!</b>
          p Ready to Start 
          p
            a.btn.btn-primary(href="/login") Login Now
          p
            span.small Don't have an account?
            span &nbsp;
            a.small(href="/register") Register now
