.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header

      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-control='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(href='/home')
        span.ion-cube
        | <b>SYNERGY SPACE</b>

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/home') <b>Home</b>
        ul.nav.navbar-nav.navbar-left
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown") <b>Rentals</b>
              b.caret
              ul.dropdown-menu
                li
                  a(href="/addRental") Add a new Rental
                li
                  a(href="/browse/"+userName) Edit your Rentals

      ul(class="nav navbar-nav navbar-right")
        li(class=title=='Profile'?'active':undefined)
          a(href='/') <b>Profile</b>
        li(class=title=='Network'?'active':undefined)
          a(href='/network') <b>Network</b>
        li(class=title=='Logout'?'active':undefined)
          a(href='/logout') <b>Logout</b>
