extends layout

block content
  div.container
    div.col-sm-6.col-md-6.col-md-offset-3
      div.jumbotron
        if user
          include navbar
          h2 <b>#{user}'s Network</b>
          if friends
            ul.user-network
                each friend in friends
                  li a(href="/user/" + friend._id) #{friend.firstname} #{friend.lastname}
          else
            p You currenly have no one in your network. Add a worksapce to get started.
        else
          h2 <b>Welcome to Synergy Space!</b>
          a(href="/login") Please login to see your network.