extends layout

block content
	div.container
		div.col-sm-6.col-md-6.col-md-offset-3
			form(method="post")#register-form.well.span4
				h2 <b>Register for Synergy Space</b>
				br
				p
					input.form-control(type='text', name='fName', placeholder='First Name')
				p
					input.form-control(type='text', name='lName', placeholder='Last Name')
				p
					input.form-control(type='email', name='email', placeholder='Email')
				p
					input.form-control(type='username', name='username', placeholder='Username')
				p
					input.form-control(type='password', name='password', placeholder='Password')
				p
					input.form-control(type='password', name='confirmPassword', placeholder='Confirm Password')
				p
					br
					button(type='submit')#btn-login.btn.btn-success
						i.icon-lock.icon-white
						| Register

				#message
					if message
						h3.text-center.error-message #{message}