extends layout

block content
    include navbar
  
    p 
      h3 <b>Top Rentals</b>
 

    .row
      .col-sm-12
        h2 Rental Posting 1
        p Location Images Description
        p    
          a.btn.btn-default(href='#', role='button') Apply »

      .col-sm-12
        h2 Rental Posting 2
        p Location Images Description
        p   
          a.btn.btn-default(href='#', role='button') Apply »

      .col-sm-12
        h2 Rental Posting 3
        p Location Images Description
        p
          a.btn.btn-default(href='#', role='button') Apply »
    footer
      p &copy; 2014 Spanish Inquisition