<div class="container">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#statistics" aria-controls="statisitics" role="tab" data-toggle="tab" ng-click="select('showGraph')">Statistics</a>
		</li>
		<li role="presentation">
			<a href="#users" aria-controls="users" role="tab" data-toggle="tab" ng-click="select('showUsers')">Manage Users</a>
		</li>
		<li role="presentation">
			<a href="#houses" aria-controls="houses" role="tab" data-toggle="tab" ng-click="select('showHouses')">Manage Houses</a>
		</li>
	</ul>
</div>

<script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>

<div id="showGraph" class="container" ng-init="genGraph();" ng-show="isSelected('showGraph')">
	<div google-chart chart="chartObject" style="margin: auto; height 450px; width:1000px;"/>
	</div>
</div>

<div id="showUsers" class="container" ng-show="isSelected('showUsers')">
	<form name="changeUser", action="/changeUser", method="POST">
		<table class="table table-hover table-striped table-bordered">
		  <thead>
		    <tr>
		      <th>
		        <a href="#" ng-click="orderByField='firstName'; reverseSort = !reverseSort">
		        FirstName <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
		        </a>
		      </th>
		      <th>
		        <a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
		        Lastname <span ng-show="orderByField == 'owner'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
		        </a>
		      </th>
		      <th>
		        <a href="#" ng-click="orderByField='email'; reverseSort = !reverseSort">
		        Email <span ng-show="orderByField == 'addr'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
		        </a>
		      </th>
		      <th>
		        <a href="#" ng-click="orderByField='username'; reverseSort = !reverseSort">
		        Username <span ng-show="orderByField == 'price'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
		        </a>
		      </th>
		      <th>
		        <a href="#" ng-click="orderByField='rating'; reverseSort = !reverseSort">
		        Rating <span ng-show="orderByField == 'maxRenters'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
		        </a>
		      </th>
		      <th>
		        Delete 
		      </th>
		    </tr>
		  </thead>
		  <tbody>
			    <tr ng-repeat="user in usersfil | orderBy:orderByField:reverseSort;">
			      <td class="hidden"><input id="{{'modUser' + $index}}", name="modUser", value="0"/> </td>
			      <td class="hide"><input name="id", value="{{user._id}}" /></td>
			      <td><input type="text", name="firstName", value="{{ user.firstName }}" readonly/></td>
			      <td><input type="text", name="lastName", value="{{ user.lastName }}" readonly/></td>
			      <td><input type="text", name="email", value="{{ user.email }}" readonly/></td>
			      <td><input type="text", name="username", value="{{ user.username }}" readonly/></td>
			      <td><input type="number", name="rating", value="{{ user.rating }}" readonly/></td>
			      <td class="hidden"><input id="{{'delUser' + $index}}", name="delUser", value="0"/></td>
			      <td><input id="$index", type="checkbox", name="delete", onClick="showBtn()", ng-click="toggleDelUser($index)" /></td>
			    </tr>
				<tr>
					<td><input id="btn", class="hidden btn-default", type="submit", value="update"/></td>
				</tr>
			</form>
		  </tbody>
		</table>
	</form>
</div>

<div id="showHouses" class="container" ng-show="isSelected('showHouses')">
	<table class="table table-hover table-striped table-bordered">
	  <thead>
	    <tr>
	      <th>
	        <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
	        Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	        </a>
	      </th>
	      <th>
	        <a href="#" ng-click="orderByField='owner'; reverseSort = !reverseSort">
	        Owner <span ng-show="orderByField == 'owner'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	        </a>
	      </th>
	      <th>
	        <a href="#" ng-click="orderByField='addr'; reverseSort = !reverseSort">
	        Address <span ng-show="orderByField == 'addr'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	        </a>
	      </th>
	      <th>
	        <a href="#" ng-click="orderByField='price'; reverseSort = !reverseSort">
	        Price <span ng-show="orderByField == 'price'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	        </a>
	      </th>
	      <th>
	        <a href="#" ng-click="orderByField='maxRenters'; reverseSort = !reverseSort">
	        Max. Renters <span ng-show="orderByField == 'maxRenters'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	        </a>
	      </th>
	      <th>
	        <a href="#" ng-click="orderByField='rating'; reverseSort = !reverseSort">
	        Rating <span ng-show="orderByField == 'rating'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	        </a>
	      </th>
	      <th>
	        Delete
	      </th-->
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="home in homesfil track by $index">
	      <td>{{ home.name }}</td>
	      <td>{{ home.owner }}</td>
	      <td>{{ home.addr }}</td>
	      <td>{{ home.price }}</td>
	      <td>{{ home.maxRenters }}</td>
	      <td>
	        {{ home.rating }}
	      </td>
	      <td>{{ home.desc }}</td>
	    </tr>
	  </tbody>
	</table>
</div>
