<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p><label>Smart Filter (Local): </label>
        <input type="text" class="form-control" name="keyword" ng-model="keyword" placeholder="Enter Keyword"></p>
    </div>
  </div>
</div>

<h3>Select posting to edit:</h3>
<br>
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>
        <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
        Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">⌄</span></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="orderByField='owner'; reverseSort = !reverseSort">
        Owner <span ng-show="orderByField == 'owner'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">⌄</span></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="orderByField='addr'; reverseSort = !reverseSort">
        Address <span ng-show="orderByField == 'addr'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">⌄</span></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="orderByField='price'; reverseSort = !reverseSort">
        Price <span ng-show="orderByField == 'price'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">⌄</span></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="orderByField='maxRenters'; reverseSort = !reverseSort">
        Max. Renters <span ng-show="orderByField == 'maxRenters'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">⌄</span></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="orderByField='rating'; reverseSort = !reverseSort">
        Rating <span ng-show="orderByField == 'rating'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">⌄</span></span>
        </a>
      </th>
      <!--th>
        <a href="#" ng-click="orderByField='desc'; reverseSort = !reverseSort">
        Description <span ng-show="orderByField == 'desc'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">⌄</span></span>
        </a>
      </th-->
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="home in homesfil | orderBy:orderByField:reverseSort | limitTo:homesfil.length | filter:keyword" ng-click="setSelected();">
      <td>{{ home.name }}</td>
      <td>{{ home.owner }}</td>
      <td>{{ home.addr }}</td>
      <td>{{ home.price }}</td>
      <td>{{ home.maxRenters }}</td>
      <td>
        {{ home.rating }}
      </td>
      <!--td>{{ home.desc }}</td-->
    </tr>
  </tbody>
</table>
