<div class="container">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <br>
    <button class="btn btn-lg btn-primary btn-block" ng-click="setContent('homeView.jade');">Go back to House List</button>
    <h2 style="text-align:center">Read House Description</h2>
    <br>
    <div class="row">
        <form role="form" method="POST" action="/rent">
            <div class="form-group">
                <label>House Name:</label>
                <p>{{ selectedHome.name }}</p>
            </div>
            <div class="form-group">
                <label>House Owner:</label>
                <p>{{ selectedHome.owner }}</p>
            </div>
            <div class="form-group">
                <label>House Address:</label>
                <p>{{ selectedHome.addr }}</p>
            </div>
            <div class="form-group">
                <label>House Price:</label>
                <p>{{ selectedHome.price }}</p>
            </div>
            <div class="form-group">
                <label>House Contact:</label>
                <p>{{ selectedHome.phone }}</p>
            </div>
            <div class="form-group">
                <label>House Rating:</label>
                <p>{{ selectedHome.rating }}</p>
            </div>
            <div class="form-group">
                <label>House Max. Renters:</label>
                <p>{{ selectedHome.maxRenters }}</p>
            </div>
            <div class="form-group">
                <label>House Description:</label>
                <p>{{ selectedHome.desc }}</p>
            </div>
            <br>

            <input name="id", value="{{selectedHome._id}}", type='hidden'>
            <input name="house", value="{{selectedHome.name}}", type='hidden'>
            <input name="owner", value="{{selectedHome.owner}}", type='hidden'>

            <button id="rentBtn" class = 'btn btn-lg btn-success btn-block',type='submit'>Rent</button>
        </form>

    <div id="ratingForm" class="container hidden" ng-init="isRenting(selectedHome._id)">
        <h2> Rate this House </h2>
        <form role="form" method="POST" action="/updateHouseRating">
          <input class="hidden" name="hid" value="{{selectedHome._id}}"/> 
          <div class="radio" name="ratingRadio" >
            <input type="radio", name="rating", value="1">
            1
            </input>
            </div>
            <div class="radio">
            <input type="radio", name="rating", value="2">
            2
            </input>
             </div>
            <div class="radio">
            <input type="radio", name="rating", value="3">
            3
            </input>
             </div>
            <div class="radio">
            <input type="radio", name="rating", value="4">
            4
            </input>
             </div>
            <div class="radio">
            <input type="radio", name="rating", value="5">
            5
            </input>
             </div>
            <br>
            <input class='btn btn-success', type="submit", value="Rate"/>
          </form>
    </div>
    </div>
  </div>
</div>
