<div class="container">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#statistics" aria-controls="statisitics" role="tab" data-toggle="tab" ng-click="setStats()">Statistics</a>
		</li>
		<li role="presentation">
			<a href="#users" aria-controls="users" role="tab" data-toggle="tab" ng-click="setUsers()">Manage Users</a>
		</li>
		<li role="presentation">
			<a href="#houses" aria-controls="houses" role="tab" data-toggle="tab" ng-click="setHomes()">Manage Houses</a>
		</li>
	</ul>
</div>